:root {
  line-height: 1.5;
  color-scheme: light dark;
}

button {
  border-radius: 8px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  animation: pulse 10s alternate-reverse infinite;
}

@keyframes pulse {
  0% {
    background-color: #E3DFFD;
  }
  25% {
    background-color: #e5d4ff;
  }
  75% {
    background-color: aliceblue;
  }
  100% {
    background-color: #DEC8ED;
  }
}
